<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
        />

        <title><%= htmlWebpackPlugin.options.title %></title>

        <link
            rel="icon"
            href="https://github.com/CRTVAI/CRTVAI.assets/blob/main/logo/ICON/lp.png"
        />
    </head>

    <body class="focalboard-body">
        <div id="focalboard-app"></div>

        <div id="focalboard-root-portal"></div>
    </body>
</html>
